<% html_title(l(:sla_label_global_settings)) %>
<div class="content"> 
  <div class="contextual">
    <%= link_to l('sla_label.sla_calendar_holiday.plural'), sla_calendar_holidays_path, class: 'icon icon-cancel' %>
  </div>
  <div class="title-sla-settings title-sla_calendar_holiday">
    <%= title l('sla_label.sla_calendar_holiday.show') %>
  </div>

  <h3>n°<%= @sla_calendar_holiday.sla_calendar.id %>&nbsp;:&nbsp;<%= @sla_calendar_holiday.sla_calendar.name %></h3>
  <h3>n°<%= @sla_calendar_holiday.sla_holiday.id %>&nbsp;:&nbsp;<%= @sla_calendar_holiday.sla_holiday.name %></h3>

</div>
<% content_for :sidebar do %>
  <% render partial: 'slas/sidebar' %>
<% end %>