<%= labelled_form_for([@sla_status], html: { multipart: false, id: 'sla_status_form', class: 'tabular', remote: request.xhr? }) do |f| %>
<%= error_messages_for f.object %>
  <div class="box">
      <% if sla_status.safe_attribute?('sla_type_id') %>
      <p>
        <% if SlaType.all.blank? then %>
          <label><%= l('sla_label.sla_type.singular') %></label><%= l('sla_label.sla_type.miss') %>
        <% else %>        
          <%= f.select :sla_type_id, SlaType.all.collect { |p| [ p.name, p.id ] }, :include_blank => (f.object.new_record??true:false), :required => true %>
        <% end %>
      </p>
      <% end %>
      <% if sla_status.safe_attribute?('status_id') %>
      <p>
        <% if IssueStatus.all.blank? then %>
          <label><%= l(:label_issue_status) %></label><%= l(:error_no_default_issue_status) %>
        <% else %>        
          <%= f.select :status_id, IssueStatus.all.collect { |p| [ p.name, p.id ] }, :include_blank => (f.object.new_record??true:false), :required => true %>
        <% end %>
      </p>
      <% end %>
  </div>
  <p>
    <% if f.object.new_record? %>
      <%= submit_tag l('sla_label.sla_status.new'), title: l(:button_create), class: "button-positive" %>
    <% else %>
      <%= submit_tag l('sla_label.sla_status.save'), title: l(:button_update), class: "button-positive" %>
    <% end %>
  </p>
<% end %>
