<%= javascript_include_tag :redmine_sla, :plugin => 'redmine_sla' %>
<%= form_with model: @sla_calendar, local: true do |sla_calendar_form| %>
  <%= error_messages_for @sla_calendar %>
  <%= error_messages_for @sla_schedule %>
  <fieldset>
    <legend><%= l('sla_label.sla_calendar.singular') %></legend>
    <div>
      <%= sla_calendar_form.label :name %>
      <%= sla_calendar_form.text_field :name, :required => true %>
    </div>
    <fieldset>
      <legend><%= l('sla_label.sla_schedule.plural') %></legend>
      <%= sla_calendar_form.fields_for :sla_schedules do |sla_schedules_form| %>
        <%= render "sla_schedule_fields", f: sla_schedules_form %>
      <% end %>
      <%= link_to_add_fields "Add Schedule", sla_calendar_form, :sla_schedules %>
    </fieldset>    
  </fieldset>
  <%= sla_calendar_form.submit %>
<% end %>