<% html_title(l(:sla_label_global_settings)) %>
<div class="content"> 
  <div class="contextual">
    <%= link_to l('sla_label.sla_status.plural'), sla_statuses_path, class: 'icon icon-cancel' %>
  </div>
  <div class="title-sla-settings title-sla_status">
    <%= title l('sla_label.sla_status.plural') %>
  </div>  

  <h3>n°<%= @sla_status.status_id %>&nbsp;:&nbsp;<%= @sla_status.status.name %></h3>

  <p>n°<%= @sla_status.sla_type_id %>&nbsp;:&nbsp;<%= @sla_status.sla_type.name %></p>

</div>
<% content_for :sidebar do %>
  <% render partial: 'slas/sidebar' %>
<% end %>