<% html_title(l(:sla_label_global_settings)) %>
<div class="content"> 
  <div class="contextual">
    <%= link_to l('sla_label.sla_schedule.new'), new_sla_schedule_path, class: 'icon icon-add' if User.current.allowed_to?(:manage_sla, nil, global: true) %>
  </div>
  <div class="title-sla-settings title-sla_schedule">
    <%= title l('sla_label.sla_schedule.index') %>
  </div>
  <%= form_tag(sla_schedules_path, method: :get, id: 'query_form') do %>
    <%= render partial: 'queries/query_form' %>
  <% end %>
  <% if @query.valid? %>
    <% if @entities.empty? %>
      <p class="nodata"><%= l(:label_no_data) %></p>
    <% else %>
      <%= render_query_totals(@query) %>
      <%= render partial: 'list', locals: { entities: @entities }%>
      <span class="pagination"><%= pagination_links_full @entity_pages, @entity_count %></span>
    <% end %>
  <% end %>
</div>
<%= render partial: 'slas/sidebar' -%>