<% @sla_project_trackers = SlaProjectTracker.visible.in_project(@project) %>
<div class="contextual">
  <%= link_to l('sla_label.sla_project_tracker.new'), new_project_sla_project_tracker_path(@project), class: 'icon icon-add' %>
</div>
<h3><%= l('sla_label.sla_project_tracker.plural') %></h3>
<% if @sla_project_trackers %>
  <table class="list">
    <thead>
      <tr>
        <th><%= l(:label_tracker) %></th>
        <th><%= l(:field_sla) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @sla_project_trackers.each do |sla_project_tracker| %>
        <tr class="sla-project-tracker <%= cycle 'odd', 'even' %>">
          <td class="tracker"><%= sla_project_tracker.tracker.name  %></td>
          <td class="sla"><%= sla_project_tracker.sla.name  %></td>
          <td class="buttons">
            <% if User.current.admin? || User.current.allowed_to?(:manage_sla, @project) %>
              <%= link_to l(:button_edit),
                          edit_project_sla_project_tracker_path(@project, sla_project_tracker.id),
                          title: l(:button_edit),
                          class: 'icon-only icon-edit' %>
              <%= link_to l(:button_delete),
                          project_sla_project_tracker_path(@project, sla_project_tracker.id),
                          data: {confirm: l(:text_are_you_sure)},
                          method: :delete,
                          title: l(:button_delete),
                          class: 'icon-only icon-del' %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>