<% 
if User.current.allowed_to?(:view_sla, @project, :global => true)

  sla_cache = SlaCache.find_or_new(issue.id)

  if ( !sla_cache.nil? && sla_cache.sla_level_id > 0  )
    Rails.logger.warn "======>>> sla_level_id = #{sla_cache.sla_level_id} <<<====== "

%>
<hr />
<div class="sla attribute">
  
  <div class="label"><%= l(:sla_label_abbreviation) -%></div>

  <div class="value">
    <%= link_to sla_cache.sla_level[:name], sla_level_path(sla_cache.sla_level),
      title: l(:button_show)+" : "+l('sla_label.sla_level.singular') -%>
    &nbsp;|&nbsp;
    <%= link_to sla_cache.sla_level.sla_calendar[:name], sla_calendar_path(sla_cache.sla_level.sla_calendar),
      title: l(:button_show)+" : "+l('sla_label.sla_calendar.singular') -%>

    <table>

<%

    SlaType.all.each { |sla_type|

      sla_level_term = SlaLevelTerm.find_by_level_type(sla_cache.sla_level_id,sla_type.id,issue.priority_id)
      if ( sla_level_term.nil? )
        next
      end
      sla_term = sla_level_term[:term]

      sla_cache_spent = SlaCacheSpent.find_or_new(sla_cache.id,sla_type.id)
      sla_spent = sla_cache_spent[:spent]
        
      if ( !sla_spent.nil? && !sla_term.nil? ) 

        # TODO: to define the duration in hours of a day, you must fork this project : https://github.com/henrypoydar/chronic_duration/blob/master/lib/chronic_duration.rb 
        sla_spent_txt = ChronicDuration.output(sla_spent*60, :format => :short, :limit_to_hours => true, :units => 2, :joiner => '', :keep_zero => true )
        sla_term_txt = ChronicDuration.output(sla_term*60, :format => :short, :limit_to_hours => true, :units => 2, :joiner => '')

        sla_purcent = ( sla_spent * 100 / sla_term ).round()
        is_closed = IssueStatus.find(issue.status_id).is_closed

        sla_helper = Object.new.extend(SlaIssueHelper)

  -%>
      <tr>
        <th valign="top"><%= sla_type.name -%></th>
        <td valign="top" class="sla"><%=
          sla_helper.sla_bar sla_purcent,
            :width => 400,
            :legend => "#{sla_spent_txt}&nbsp;#{l(:field_sla)}&nbsp;#{sla_term_txt}",
            :done => is_closed
          -%></td>
      </tr>
<%
      end # if ( !sla_spent.nil? && !sla_term.nil? ) 
    } # SlaTypes.all.each { |sla_type|
%>
    </table>
  </div>
</div>
<%
  end # if ( !sla_level_id.nil? )
end # if User.current.allowed_to?(:view_sla, @project, :global => true)
%>